@tailwind base;
@tailwind components;
.main_body{
    width: 100% !important;
}
::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar {
    width: 0.55rem;
    border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: rgb(169, 169, 169);
}

.box_shadow{
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    margin: 0px 20px;
}
.box_shadow>p{
    margin-left: 10px;
}
.close_model{
    height: 40px;
    width: 40px;
    padding: 10px;
    color:#fd7014;
    border-radius: 20px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    transition: background 700ms linear;
}
.close_model:hover{
    background: #fd7014;
    color: #ffffff;
}
.project_img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.project_img img{
    max-width: 100%;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.project_img:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 10px;
}
@tailwind utilities;